.header {
    position: absolute;
    
    top: -15rem;
    left: 0;
    background-image: url(../img/SVG/backgroundN2.svg);
    background-repeat: no-repeat;
    background-size:cover;

    height: 120vh;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10rem;

    @include respond(tab-land) {
        top: -25rem;
        justify-content: center;
        height: 110vh;
    }

    @include respond(tab-port) {
        padding-top: 0rem;
        background-image: url(../img/SVG/backgroundN2-small.svg);
        height: 120vh;
        top: -15rem;
    }

    @include respond(phone) {
        height: 90vh;
    }

    &__illustration {
        flex: 0 1 40%;
        transform: translateY(3.5rem);

        @include respond(tab-land) {
            transform: translateY(4.5rem);
        }

        @include respond(tab-port) {display: none;}
    }

    &__img {
        width: 67rem;
        height: 72rem;

        @include respond(desktop) {
            transform: translateY(3.5rem);
        }

        @include respond(tab-land) {
            width: 50rem;
            height: 55rem;
        }
    }

    &__content {
        height: 62rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;
        transform: translateY(-2rem);

        @include respond(desktop) {
            flex: 0 1 60%;
            padding-right: 5rem;
        }

        @include respond(tab-land) {
            height: 50rem;
            transform: translateY(2rem);
        }
        
        @include respond(tab-port) {
            padding-right: 0rem;
            flex: 0 1 100%;
            transform: translateY(0rem);
            height: 70rem;
        }

        @include respond(phone) {
            height: 50rem;
        }
    }

    &__logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        transform: translateY(1rem);

        @include respond(desktop) {transform: translateY(4rem);}

        @include respond(tab-land) {transform: translateY(2rem);}

        @include respond(tab-port) {
            margin: auto;
            transform: translate(-1rem,4rem);
        }
    }

    &__figure {
        width: 14rem;
        height: 14rem;

        @include respond(desktop) {
            width: 12rem;
            height: 12rem;
        }

        @include respond(tab-land) {
            width: 10rem;
            height: 10rem;
        }

        @include respond(tab-port) {
            width: 14rem;
            height: 14rem;
        }

        @include respond(phone) {
            width: 12rem;
            height: 12rem;
        }
    }

    &__caption {
        color: $color-primary-two-1;
        font-size: 4.7rem;
        font-weight: 600;

        @include respond(desktop) {font-size: 4.2rem;}

        @include respond(tab-land) {font-size: 4rem;}

        @include respond(tab-port) {font-size: 4.7rem;}

        @include respond(phone) {font-size: 4.2rem;}
    }

    &__title {
        font-size: 6rem;
        font-weight: 500;
        color: $color-primary-two-1;
        letter-spacing: 5px;
        line-height: 9rem;
        text-transform: uppercase;
        text-align: right;
        

        @include respond(desktop) {
            font-size: 4.8rem;
            line-height: 7rem;
        }

        @include respond(tab-land) {
            font-size: 3.5rem;
            line-height: 6rem;
        }

        @include respond(tab-port) {
            text-align: center;
            margin: auto;
            line-height: 8rem;
            font-size: 3.8rem;
        }

        @include respond(phone) {
            line-height: 6rem;
            font-size: 2.5rem;
        }

        &--right{
            position: relative;
            z-index: 1;

            &::after{
                content: "";
                position: absolute;
                z-index: -1;
                bottom: 0;
                right: 0;
                height: 40%;
                width: 90%;
                background-color: $color-secondary-two-1;

                @include respond(desktop) {width: 80%;}

                @include respond(tab-port) {width: 90%;}
            }
        }

        &--left {
            position: relative;
            z-index: 1;

            &::after{
                content: "";
                position: absolute;
                z-index: -1;
                bottom: 0;
                left: 0;
                height: 40%;
                width: 80%;
                background-color: $color-secondary-two-1;

                @include respond(desktop) {width: 70%;}

                @include respond(tab-port) {width: 80%;}
            }
        }
    } 
    
    &__title + button {
        margin-top: 3rem;

        @include respond(desktop) {margin-top: 0rem;}

        @include respond(tab-port) {margin: auto;}
    }
}