.button-group {
    flex: 0 1 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-round {
    &,
    &:link, 
    &:visited {
        display: inline-block;
        text-decoration: none;

        padding: 1.3rem 3rem;
        font-size: 1.5rem;
        font-weight: 600;
        
        border-radius: 10rem;
        border: none;
        cursor: pointer;
        box-shadow: .2rem .5rem 1rem rgba($color-primary-one-1, .4);
        transition: all .2s;

        background-color: $color-white;
        color: $color-black;
    }

    &--pink {
        background-color: $color-secondary-two-1;
        color: $color-white;
    }

    &--blue {
        background-color: $color-secondary-one-1;
        color: $color-white;
    }

    &:hover {
        transform: scale(1.1);
        box-shadow: .2rem .8rem 1rem rgba($color-primary-one-1, .4);
    }

    &:active,
    &:focus {
        outline: none;
    }

    &:not(:last-child) {
        margin-right: 3rem;
    }

}

.button-text {

}