.service {
    flex: 0 1 17%;
    height: 37rem;
    background-color: rgba($color-white, .6);
    border-radius: 2rem;
    
    box-shadow: $shadow-normal-black;
    cursor: pointer;
    transition: all .3s;
    padding: 0 2rem;
    padding-top: 3rem;

    &__content {
        width: min-content;
        position: relative;
        margin: auto{
            top: 1rem;
        };
    }

    &__img {
        fill: $color-primary-one-1;

        &--user {
            width: 17rem;
            height: 20rem;
        }

        &--users{
            width: 17rem;
            height: 20rem;
            transform: translateX(.5rem);
        }

        &--search {
            width: 11rem;
            height: 11rem;
            stroke: $color-white;
            stroke-width: 1px;
            position: absolute;
            bottom: 1rem;
            left: .5rem;
        }

        &--user-tie {
            width: 17rem;
            height: 20rem;
            transform: translateY(.7rem);
        }

        &--cogs {
            width: 12rem;
            height: 12rem;
            stroke: $color-white;
            stroke-width: .8px;
            position: absolute;
            bottom: -.7rem;
            right: -1rem;
        }

        &--book {
            width: 14rem;
            height: 18rem;
            transform: translateY(1rem);
        }

        &--pencil {
            width: 10rem;
            height: 10rem;
            stroke: $color-white;
            stroke-width: 1.2px;
            position: absolute;
            bottom: -1.5rem;
            right: -1.2rem;
        }
    }


    &:hover {
        box-shadow: $shadow-xlarge-black;
        transform: translateY(-.5rem) scale(1.05);
    }
}