*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
} 

body {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0; 
    background: transparent;
}

::selection {
    background-color: $color-primary-one-2;
    color: $color-primary-two-1;
}