body {
    font: {
        family: "Montserrat", sans-serif;
        weight: 500;
        height: 1.7;
    }
    color: $color-primary-one-1;
}

.heading-primary {
    color: $color-primary-two-1;

    &__title {
        line-height: 6rem;
        margin-bottom: 2rem;
        
        &--sub {
            font-size: 2rem;
            font-weight: 400;
        }

        &--main {
            font-size: 8rem;
            text-transform: uppercase;
        }
    }

    &__text {
        font-size: calc(#{$large-title-font-size} - 1.6rem);
        line-height: 4rem;
        letter-spacing: 1px;
        width: 55%;
        margin: auto;
        font-weight: 300;
    }
}

.heading-secondary {
    $time-animation: .4s;

    position: relative;
    z-index: 1;
    margin: auto;
    width: 100%;

    hr {
        margin: auto {top: 1rem};
        width: 20%;
        border: 1px solid $color-primary-one-1;
    }

    &--title {
        width: max-content;
        margin: auto;
        font-size: $large-title-font-size;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: 600;
        transition: all $time-animation;

        @include respond(tab-land) {
            width: 80%;
            font-size: $small-title-font-size;
        }
    }

    &--animated {
        & + hr {
            margin: auto {top: 1rem};
            width: 0px;
            height: 1px;
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s, 
                        opacity .1s linear, 
                        width $time-animation;
            border: 1px solid $color-primary-one-1;
        }
        
        &:hover {transform: scale(1.15);}
    
        &:hover + hr {
            visibility: visible;
            opacity: 1;
            width: 30%;

            @include respond(tab-land) {width: 20%;}
        }
    }

    &--text {
        font-size: calc(#{$large-title-font-size} - 1.8rem);
        line-height: 3rem;
        letter-spacing: 1px;
        width: 60%;
        margin: auto;

        @include respond(desktop) {width: 65%;}

        @include respond(tab-port) {width: 90%;}
    }

}

.heading-tertiary {
    font-size: $normal-title-font-size;
    font-weight: 500;
    letter-spacing: 1.5px;

    @include respond(desktop) {
        font-size: $small-title-font-size;
    }

    @include respond(tab-land) {
        font-size: $xsmall-title-font-size;
    }

    &--yellow {
        color: $color-primary-two-1;
    }
}
