body {
    font: {
        family: "Montserrat", sans-serif;
        weight: 500;
        height: 1.7;
    }
    color: $color-primary-one-1;
}

.heading-primary {
    color: $color-primary-two-1;

    &--yellow {
        color: $color-primary-two-1;
    }

    &--blue {
        color: $color-primary-one-1;
    }

    &__title {
        line-height: 6rem;
        margin-bottom: 2rem;
        
        &--sub {
            font-size: 2rem;
            font-weight: 400;

            @include respond(phone) {
                font-size: 1.5rem;
            }

            @include respond(big-desktop) {
                font-size: 2.5rem;
            }
        }

        &--main {
            font-size: 8rem;
            text-transform: uppercase;

            @include respond(big-desktop) {
                font-size: 10rem;
            }

            @include respond(tab-port) {
                font-size: 7rem;
            }

            @include respond(phone) {
                font-size: 4rem;
            }
        }

        @include respond(big-desktop) {
            line-height: 8rem;
        }

        @include respond(phone) {
            line-height: 4rem;
        }
    }

    &__text {
        font-size: calc(#{$large-title-font-size} - 1.6rem);
        line-height: 4rem;
        letter-spacing: 1px;
        margin: auto;
        font-weight: 300;

        &--normal {
            width: 55%;

            @include respond(tab-land) {width: 75%;}
    
            @include respond(phone) {width: 85%;}
        }

        @include respond(phone) {
            font-size: calc(#{$large-title-font-size} - 2.2rem);
            line-height: 3rem;
        }


        @include respond(big-desktop) {
            font-size: calc(#{$large-title-font-size} - 1rem);
            line-height: 5rem;
        }

        &--large {width: 75%;}

        &--xlarge {width: 85%;}
    }
}

.heading-secondary {
    $time-animation: .4s;

    position: relative;
    z-index: 1;
    margin: auto;
    width: 100%;

    hr {
        margin: auto {top: 1rem};
        width: 20%;
        border: 1px solid $color-primary-one-1;
    }

    &--title {
        margin: auto;
        font-size: $large-title-font-size;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: 600;
        transition: all $time-animation;

        @include respond(tab-land) {
            width: 80%;
            font-size: $small-title-font-size;
        }
    }

    &--animated {
        & + hr {
            margin: auto {top: 1rem};
            width: 0px;
            height: 1px;
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s, 
                        opacity .1s linear, 
                        width $time-animation;
            border: 1px solid $color-primary-one-1;
        }
        
        &:hover {transform: scale(1.15);}
    
        &:hover + hr {
            visibility: visible;
            opacity: 1;
            width: 30%;

            @include respond(tab-land) {width: 20%;}
        }
    }

    &--text {
        font-size: calc(#{$large-title-font-size} - 1.8rem);
        line-height: 3rem;
        letter-spacing: 1px;
        width: 60%;
        margin: auto;

        @include respond(desktop) {width: 65%;}

        @include respond(tab-port) {width: 90%;}
    }

}

.heading-tertiary {
    font-size: $normal-title-font-size;
    font-weight: 500;
    letter-spacing: 1.5px;

    @include respond(desktop) {
        font-size: $small-title-font-size;
    }

    @include respond(tab-land) {
        font-size: $xsmall-title-font-size;
    }

    &--yellow {
        color: $color-primary-two-1;
    }
}

.paragraph {
    font-size: $default-font-size;
    letter-spacing: 2px;
    line-height: 3rem;
    font-weight: 400;

    &--yellow {
        color: $color-primary-two-1;
    }
}


.link {
    &:link, 
    &:visited {
        text-decoration: none;
        text-transform: uppercase;
        transition: all .2s;
        display: inline-block;
        padding: 1rem 1.5rem;
        letter-spacing: 2.5px;
    }

    &--yellow {
        &:link,
        &:visited{
            color: $color-primary-two-1;
        }

        &:hover,
        &:active {
            color: $color-primary-one-1;
            background-color: $color-primary-two-1;
        }
    }

    &--blue {
        &:link,
        &:visited{
            color: $color-primary-one-1;
        }

        &:hover,
        &:active {
            color: $color-primary-two-1;
            background-color: $color-primary-one-1;
        }
    }

    &--small {
        &:link,
        &:visited{
            font-size: 1.7rem;
    
            @include respond(tab-port) {font-size: 1.4rem;}
        }

        &:hover,
        &:active {
            transform: rotate(5deg) scale(1.2);
        }
    }

    &--normal {
        &:link,
        &:visited{
            font-size: 2.1rem;
    
            @include respond(tab-port) {font-size: 1.8rem;}
        }

        &:hover,
        &:active {
            transform: rotate(5deg) scale(1.3);
        }
    }

    &--big {
        &:link,
        &:visited{
            font-size: 2.5rem;
    
            @include respond(tab-port) {font-size: 2rem;}
        }

        &:hover,
        &:active {
            transform: rotate(5deg) scale(1.4);
        }
    }

    &:hover,
    &:active {
        box-shadow: 0 1rem 2rem rgba($color-black, .4);
    }
}