  
.u-center-text {text-align: center !important;}

.u-left-text {text-align: left !important;}

.u-right-text {text-align: right !important;}


// ------------------- MARGIN LEFT --------------
.u-margin-left-xsmall {margin-left: $margin-xsmall !important;}

.u-margin-left-small {margin-left: $margin-small !important;}

.u-margin-left-medium {margin-left: $margin-medium !important;}

.u-margin-left-large {margin-left: $margin-large !important; }

.u-margin-left-xlarge {margin-left: $margin-xlarge !important;}

.u-margin-left-xxlarge {margin-left: $margin-xxlarge !important;}
// ------------------- MARGIN LEFT --------------



// ------------------- MARGIN RIGHT --------------
.u-margin-right-xsmall {margin-right: $margin-xsmall !important;}

.u-margin-right-small {margin-right: $margin-small !important;}

.u-margin-right-medium {margin-right: $margin-medium !important;}

.u-margin-right-large {margin-right: $margin-large !important; }

.u-margin-right-xlarge {margin-right: $margin-xlarge !important;}

.u-margin-right-xxlarge {margin-right: $margin-xxlarge !important;}
// ------------------- MARGIN RIGHT --------------



// ------------------- MARGIN BOTTOM --------------
.u-margin-bottom-xsmall {margin-bottom: $margin-xsmall !important;}

.u-margin-bottom-small {margin-bottom: $margin-small !important;}

.u-margin-bottom-medium { margin-bottom: $margin-medium !important;}

.u-margin-bottom-large { margin-bottom: $margin-large !important; }

.u-margin-bottom-xlarge {margin-bottom: $margin-xlarge !important;}

.u-margin-bottom-xxlarge {margin-bottom: $margin-xxlarge !important;}
// ------------------- MARGIN BOTTOM --------------



// ------------------- MARGIN TOP --------------
.u-margin-top-xsmall {margin-top: $margin-xsmall !important;}

.u-margin-top-small {margin-top: $margin-small !important;}

.u-margin-top-medium { margin-top: $margin-medium !important;}

.u-margin-top-large {margin-top: $margin-large !important;}

.u-margin-top-xlarge {margin-top: $margin-xlarge !important;}

.u-margin-top-xxlarge {margin-top: $margin-xxlarge !important;}
// ------------------- MARGIN TOP --------------