.faq-item {
    background-color: $color-white;
    box-shadow: $shadow-small-black;
    border-radius: 2rem;
    border: 0.2rem dashed $color-primary-one-1;
        
    margin: auto;
    padding: 3rem;
    width: 70%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @include respond(phone) {width: 90%;}

    &__checkbox {display: none;}

    &__checkbox:checked + &__button &__icon {
        transform: rotate(90deg);
    }

    &__checkbox:checked ~ &__description {display: block;}

    h3 {flex: 0 2 80%}

    &__button {width: 10%;}

    &__icon {
        display: none;
        fill: $color-primary-one-1;
        width: 5rem;
        height: 5rem;
        transition: all .2s;
        cursor: pointer;

        @include respond(tab-port) {display: block;}

        &:hover {transform: scale(1.1);}
    }

    &__description{
        line-height: 4rem;
        letter-spacing: 2px;
        font-size: $default-font-size;
        transition: display .2s;
        margin-top: 1rem;

        @include respond(tab-port) {display: none;}
    }
}